@model Projekat.Models.Procesor

@{
    ViewBag.Title = "UnosProcesor";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}




@using (Html.BeginForm("UnosProcesor", "Site", FormMethod.Post)) //helperi
{
    <div class="main-title">
        <h2>Unos neve komponente (Procesor)</h2>
    </div>
    <div class="unosForm">
        <label>Naziv komponente:</label>
        @Html.TextBoxFor(x => x.Naziv)

        <label>Slika komponente:</label>
        @Html.TextBoxFor(x => x.Slika)

        <hr>

        <label>Cena komponente:</label>
        @Html.TextBoxFor(x => x.Cena)

        <label>Proizvodjac:</label>
        @Html.DropDownListFor(x => x.Proizvodjac, new[] {
            new SelectListItem()
            {
                Text = "Intel",
                Value = "Intel"
            },
            new SelectListItem()
            {
                Text = "AMD",
                Value = "AMD"
            },
            new SelectListItem()
            {
                Text = "Apple",
                Value = "Apple"
            }
        })
    </div>
    <div class="unosForm">
        <hr />
        <label>Proizvod na akciji</label>
        <label>@Html.CheckBoxFor(x => x.Akcija) Da </label>

        <label>Soket:</label>
        @Html.TextBoxFor(x => x.Soket)

        <label>Opis komponente</label>
        @Html.TextAreaFor(x => x.Opis)
    </div>

    <input type="submit" class="unosForm dugmeUnos" value="UNESI">
}


